#search{
    /* background-color: red; */
    /* max-width: 90vw; */
    padding: 1.5rem 0rem;
}
#search input{
    
    /* background-color: red; */
    display: flex;
    margin:  0rem auto;
    
    padding: .7rem 1rem;
    width: 350px;   
    max-width: 70%;
    font-size: 1rem;
    border-radius: 1rem;
    outline: none;
}